<section class="littleWindow">
    <h4>Single Page Application</h4>

    <p>
        Una SPA es un sitio web que cabe en una sola página conc el propósito de dar una experiencia más fluida a los usuarios, como si fuera una aplicación de escritorio. En una SPA todos los códigos HTML, CSS y JavaScript se cargan una sola vez y los recursos necesarios se cargan dinámicamente cuando lo requiera la página, en respuesta a acciones propias de la navegación (enviar un formulario, clickar en un enlace, acceder a una sección interna, etc) sin tener que realizar peticiones al servidor para volver a cargar más código HTML. 
    </p>

</section>
<section class="btnSection">
    <button id='btnClick'>
    Click Me
    </button>
</section>
